* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

.carousel-item img{
    height: 75vh;
    object-fit: cover;
}

.carousel-control-next {
    right: 5px;
}

.carousel-control-prev {
    left: 5px;
}

.row {
    margin: 0;
}

.marketing {
    text-align: center;
}

.marketing h2 {
    font-size: 3rem;
    margin-bottom: 7rem;
    margin-top: 2rem;
}

.float-right {
    float: right;
}